{:aliases
 {:outdated {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :cider {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                       cider/cider-nrepl {:mvn/version "0.25.8"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[\"refactor-nrepl.middleware/wrap-refactor\",\"cider.nrepl/cider-middleware\"]"]}}}
