{# directory shortcuts for the primary user #}
{% set user = pillar['user'] %}
{% set home = salt['user.info'](user['username']).home %}
{% set user_dirs = {
     'home': home,
     'dotfiles': pillar.get('environment.dotfiles', salt['file.join'](home, 'dotfiles'))
   } %}
